.locator-dashboard{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5vw;
    align-items: start;
}

.locator-dashboard-background{
    position: fixed;
    z-index: 0;
    justify-content: end;
    top: 20%;
    right: 5%;
    width: 40vw;
}

.locator-dashboard-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    z-index: 1;
    
}

.locator-dashboard-list-item{
    width: max-content;
}

.locator-dashboard-reserves-tittle{
    font-family: var(--font-rowdies);
    font-weight: 400;
    font-size:  4.5vw;
    margin: 1vw 0 2.5vw 0;
    color: var(--color-orange);
    text-align: center;
}

.locator-dashboard-add-house-button{
    color: var(--color-white);
    background-color: var(--color-red);
    border: none;
    font-size: 2vw;
    cursor: pointer;
    font-family: var(--font-montserrat);
    font-weight: 600;
    padding: 1vw 10vw;
    margin-bottom: 4.5vw;
    border-radius: 1vw;
}

.locator-dashboard-not-found{
    font-family: var(--font-montserrat);
    font-style: italic;
    font-size: 1.75vw;
}

@media screen and (orientation: portrait){

    .locator-dashboard{
        top: 20vw;
        left: 0;
        right: 0;
        align-items: center;
    }

    .locator-dashboard-background{
        width: 150vw;
        top: 17.5%;
        left: 20%;
        opacity: 0.45;
    }
}