.add-house-form-background{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    opacity: 0.25;
    z-index: 9;
}

.add-house-form-content{
    width: 75vw;
    height: max-content;
    background-color: var(--color-white);
    padding: 1.75vw 2.5vw;
    border-radius: 2vw;

    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1.5vw;
}

.add-house-form-content h1{
    text-align: center;
    font-family: var(--font-rowdies);
    font-weight: 400;
    font-size: 2vw;
}

.add-house-form-close-button{
    position: fixed;
    left: 85.5vw;
    top: 2vw;
    z-index: 11;
    border: none;
    background-color: transparent;
    color: var(--color-black);
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 2.5vw;
    cursor: pointer;
}

.add-house-form-fields{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7.5vw;
    justify-self: center;
}

.add-house-form-fields-text{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: max-content;
    align-items: center;
}

.add-house-form-button{
    justify-self: center;
}

.add-house-form-fields-text-input{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.add-house-form-fields-text-input label{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1.25vw;
}

.add-house-form-fields-text-input input, select, textarea{
    border: none;
    background-color: var(--color-lightGray);
    width: max-content;
    padding: 0.75vw 1vw;
    width: 23vw;
    font-size: 1.25vw;
    border-radius: 1vw;
}

.add-house-form-fields-text-input-number-district{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
}

.add-house-form-fields-text-input-city-state{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
}

.input-number input{
    width: 4vw;
}

.input-district input{
    width: 16vw;
}

.input-city input{
    width: 13vw;
}

.input-state select{
    width: 9vw;
}

.input-info textarea{
    height: 14.5vw;
    max-height: 15vw;
    max-width: 25vw;
    resize: none;
}

.add-house-form-fields-image{
    background-color: var(--color-lightGray);
    width: 25vw;
    height: 18vw;
    border-radius: 1vw;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.add-house-form-fields-image-upload p{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1.6vw;
}