.show-house-info-background{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-black);
    opacity: 0.25;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.show-house-info-form{
    width: 75vw;
    height: 35vw;
    background-color: var(--color-white);
    padding: 2.75vw 2.5vw 2vw 2.5vw;
    border-radius: 2vw;

    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
}

.show-house-info-form img{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 2vw;
    align-self: center;
}