body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, var(--color-white) 40%, var(--color-orange) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page-content{
    margin: 0 5%;
    display: grid;
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-items: center;
    justify-content: space-between;
}

.login-logo-content{
    display: inline-block;
    align-self: center;
    width: max-content;
    text-align: center;
}

.login-logo-image{
    width: 23vw;
}

.login-logo-slogan{
    font-size: 1.7vw;
    font-family: var(--font-montserrat);
    margin-top: 2.5%;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    align-items: center;
    justify-content: center;
}

.login-form-tittle{
    font-family: var(--font-montserrat);
    font-size: 5vw;
    font-weight: w800;
    margin-bottom: 5%;
}

.login-form-label{
    font-size: 1.25vw;
    color: var(--color-black);
    font-family: var(--font-montserrat);
    font-weight: 700;
}

.login-form-input{
    width: 25vw;
    margin-top: 1.5%;
    background-color: var(--color-white);
    border: 0;
    border-radius: 0.7rem;
    font-size: 1.25vw;
    padding: 3% 2%;
    text-decoration: none;
}

.login-form-button{
    border: 0;
    border-radius: 0.7rem;
    background-color: var(--color-red);
    padding: 5% 15%;
    margin-top: 7.5%;
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1.25vw;
    cursor: pointer;
}

.login-form-register{
    font-family: var(--font-montserrat);
    font-size: 1.25vw;
    font-weight: 500;
    margin-top: 3%;
    color: var(--color-black);
    text-align: center;
}

.login-form-register-link{
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.5vw;
}

@media screen and (orientation: portrait){
    
    .login-page{
        background-image: linear-gradient(180deg, var(--color-white) 40%, var(--color-orange) 100%);
        background-size:auto;
        height: auto;
        overflow: scroll;
    }

    .login-page-content{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% auto;
        row-gap: 20%;
    }


    .login-logo-content{
        align-self: flex-end;
    }

    .login-logo-image{
        width: 58vw;
    }

    .login-logo-slogan{
        font-size: 4vw;
    }

    .login-form{
        justify-content: flex-start;
        margin-bottom: 5%;
    }

    .login-form-tittle{
        font-size: 10vw;
    }

    .login-form-label{
        font-size: 2.5vw;
    }

    .login-form-input{
        width: 75vw;
        font-size: 2vw;
    }

    .login-form-button{
        font-size: 2.5vw;
    }

    .login-form-register{
        font-size: 3vw;
    }

    .login-form-register-link{
        font-size: 3.5vw;
    }
}