.header-background {
    background-color: var(--color-orange);
    width: 100vw;
    padding: 1% 0 1% 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}

.header-logo {
    width: 12vw;
    cursor: pointer;
}

.header-menu-icon {
    width: 4vw;
}

.logo-link{
    display: flex;
    justify-content: center;
}